/*table{
    border-spacing: 10px;
    border-collapse: separate;
}*/

.container{
	margin-top: 15px;
}

.ng-invalid.ng-dirty{
	border-color:red;
}

.ng-valid.ng-dirty{
	border-color:green;
}

.pointer
{
	cursor:pointer !important;
}

.results{
	margin-top: 20px;
}

.input-error{
	color:red;
}

.form-horizontal{
	padding: 15px;
}

.preview-json {
	word-wrap: break-word;
}

.image-container
{
	margin: 10px;	
}

.image-container img{
	width: 50%;	
}

.table>tbody>tr.active>td{
	background-color: rgba(36, 146, 193, 0.3);	
}