<!doctype html>
<html lang="en" ng-app="MoviesApp">
<head>
	<meta charset="utf-8">
	<title>Movies in AngularJS</title>	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="lib/jquery-3.1.1.min.js"></script>	
	<script src="lib/bootstrap.min.js"></script>	
</head>
<body ng-controller="MoviesController as moviesCtrl">
	<div class="container">				
		<div class="row">			
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse-new">Add New Movie</a>
						</h4>
					</div>
					<div id="collapse-new" class="panel-collapse collapse in">
						<div class="panel-body">
							<label>Preview => </label>{{ moviesCtrl.movie }}
							<form name="newMovieForm" class="form-horizontal" ng-submit="moviesCtrl.addMovie(moviesCtrl.movie, newMovieForm)" novalidate>		
								<legend>New Movie:</legend>
								<div class="form-group">
									<label for="author" class="control-label col-sm-2">Title:</label>
									<div class="col-sm-10">
										<input id="title" name="author" class="form-control" type="text" ng-model="moviesCtrl.movie.title" required>
										<span ng-show="newMovieForm.author.$dirty && newMovieForm.author.$invalid">The title is required.</span>
									</div>					
								</div>
								<div class="form-group">
									<label for="title" class="control-label col-sm-2">Description:</label>
									<div class="col-sm-10">
										<textarea id="description" name="description" class="form-control col-sm-10" ng-model="moviesCtrl.movie.description" required></textarea>
										<span ng-show="newMovieForm.description.$dirty && newMovieForm.description.$invalid">The description is required.</span>
									</div>					
								</div>			
								<div class="form-group">
									<label for="title" class="control-label col-sm-2">Rate:</label>
									<div class="col-sm-9">
										<input type="range" name="rate" min="1" max="5" ng-model="moviesCtrl.movie.rate"
										required>
										<span ng-show="newMovieForm.rate.$dirty && newMovieForm.rate.$invalid">The rate is required.</span>
									</div>
									<div class="col-sm-1">
										{{moviesCtrl.movie.rate}}
									</div>
								</div>
								<button type="submit" class="btn btn-default">Add</button><br>		
								<br>
							</form>	
						</div>
					</div>					
				</div>	
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapsesearch">Search Movie</a>
						</h4>
					</div>
					<div id="collapsesearch" class="panel-collapse collapse in">
						<div class="panel-body">							
							<div class="col-sm-10">
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
									<input type="text" class="form-control" placeholder="Search" ng-model="searchedMovie">
								</div>
								<div class="results">
									<table class="table">
										<thead>
											<tr>
												<th>Actions</th>
												<th class="pointer" ng-click="moviesCtrl.sortBy('title')">
												Title 
													<span class="fa fa-sort-down columnSortIcons" ng-if="moviesCtrl.isActiveSort('title', -1)"></span>
													<span class="fa fa-sort-up columnSortIcons" ng-if="moviesCtrl.isActiveSort('title', 1)"></span>
												</th>
												<th class="pointer" ng-click="moviesCtrl.sortBy('description')">	Description
													<span class="fa fa-sort-down columnSortIcons" ng-if="moviesCtrl.isActiveSort('description', -1)"></span>
													<span class="fa fa-sort-up columnSortIcons" ng-if="moviesCtrl.isActiveSort('description', 1)"></span>
												</th>
												<th class="pointer" ng-click="moviesCtrl.sortBy('rate')">
													Rate
													<span class="fa fa-sort-down columnSortIcons" ng-if="moviesCtrl.isActiveSort('rate', -1)"></span>
													<span class="fa fa-sort-up columnSortIcons" ng-if="moviesCtrl.isActiveSort('rate', 1)"></span>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="movie in moviesCtrl.movies | filter:searchedMovie | orderBy:orderProperty track by $index">
												<td>
													<a class="btn btn-danger" href="#" ng-click="moviesCtrl.deleteMovie($index)">
													<i class="fa fa-trash fa-white"></i>
														Delete
													</a>
												</td>
												<td>{{movie.title}}</td>
												<td>{{movie.description}}</td>
												<td>{{movie.rate}}</td>
											</tr>
										</tbody>					
									</table>
								</div>     							
							</div>							
						</div>					
					</div>					
				</div>
				<br />				
			</div>
		</div>			
	</div>	
	<script src="lib/angular.js"></script>	
	<script src="js/app.js"></script>
	<script src="services/MoviesService.js"></script>
	<script src="controllers/MoviesController.js"></script>
</body>
</html>
